#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Start django.nV
Exec=/opt/start_django.nV.sh
Terminal=true
Icon=/usr/share/icons/HighContrast/24x24/emotes/face-devilish.png
Categories=Network;
